body{
    background-color:whitesmoke;
   font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  display: flex;
   flex-direction: column;
   min-height: 100vh;
 
}
.container{
    flex:1;
}

.navbar {
    height: 5rem;

}

.fa-airbnb{
    color: red;
    font-size: 2.5rem;
}
.nav-link{
  color: #222222 !important; 
}

/*footer*/
 
.f-info-links a{
 text-decoration: none;
 color: #222222;
}
.f-info-links a:hover{
 text-decoration: underline;
  
}
 
.f-social{
    width: 100%;
    margin-right:1rem ;
    font-size:1.5rem ;
    vertical-align: middle;
 
     
    
}
.f-info-links{
    width: 100%;
     vertical-align: middle; 
      
}
 
    .show-page {
  overflow-x: hidden;
  width: 100%;
}
 
 
.f-info-links i{
    
    margin-right: 1rem;
    font-size:1rem ;
   
  
}
.f-info{
    text-align: center;
    height: 8rem;
      display: flex;
     background-color:lightgrey;
     flex-wrap: wrap;
     justify-content:center ;
     align-items:space-evenly;
}
/*cards*/
.listing-card{
    border:none !important;
    margin-bottom: 2rem;

}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;

}
 
.card-body{
       padding: 0 !important;
     

}
.card-text{
    
    width: 100%;
}
.card-text p{
    font-weight: 400 !important;
}
.listing-links{
    text-decoration: none;
}
/*card effect*/
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.5;
    background-color: white;
}
.from-control{
    width: 80%;
    height: 2rem;
    border-radius:0.2rem ;
     
}
 
.show-img{
    height: 40vh;
     
     
}
.btns{
    display:flex;
    color: red;
    margin-bottom: 0.2rem;
} 